.rect {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    height: 100%;
  }

.box{
    margin: 30px 0;
    /* border-bottom: 1px solid black; */
}

.itens{
    margin: auto 0;
    text-align: center;
    height: 100%;
    font-size: 20px;
}

.top{
    margin: auto 0;
    padding: 15px 0;
}

.container h1{
    text-align: center;
}

.vitoria{
    background-color: rgb(168, 237, 184);
}

.derrota{
    background-color: rgb(252, 157, 157);
}

img{
    margin:15px auto;
    width: 50px;
}