<div class="container">
  <h1>Me informe suas preferências para encontrarmos o melhor matchup!!</h1>
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Quem será seu oponente?</div>
      <div class="dx-field-value">
        <dx-select-box
        placeholder="Escolha seu oponente"
        [searchEnabled]="true"
        searchExpr="nome"
        displayExpr="nome"
          [dataSource]="opcoesCampeoes"
          [(value)]="matchup.oponente"
          >

        <div *dxTemplate="let campeao of 'dropDownButton'">
          <img *ngIf="false" [src]="campeao.img" > 
        </div>

        <div *dxTemplate="let campeao of 'item'"> <!-- Aqui é o template da pesquisa-->
          <div class="itensSelect">
            <div>
             <p>{{campeao.nome}}</p> 
            </div>
            <img [src]="campeao.img" >
          </div>
        </div>
        </dx-select-box>
      </div>
    </div>
    
    <div class="dx-field">
      <div class="dx-field-label">Seus Campeões</div>
      <div class="dx-field-value">
        <dx-tag-box
          [(value)]="matchup.campeoes"
          placeholder="Escolha seus campeões!"
          [searchEnabled]="true"
          displayExpr="nome"
          [dataSource]="opcoesCampeoes"
          itemTemplate="templateCampeoes"
        >
          <div *dxTemplate="let campeoes of 'templateCampeoes'">
            <div class="itensSelect">
              <div class="product-name">
                <p>
                  {{ campeoes.nome}} 
                </p>
              </div>
              <img [src]="campeoes.img" />
            </div>
              
          </div>
        </dx-tag-box>
      </div>
    </div>

      <div class="dx-field">
        <div class="dx-field-label">Qual será a rota?</div>
        <div class="dx-field-value">
          <dx-select-box
          (onValueChanged)="atualizarImgRota()"
          placeholder="Escolha sua rota!"
          [searchEnabled]="true"
            [items]="rotas"
            displayExpr="nome"
            valueExpr="rota"
            [(value)]="matchup.rota"
            >
          <div *dxTemplate="let rota of 'dropDownButton'">
              <img [src]="rotaImg"/>  
          </div>
          <div *dxTemplate="let rota of 'item'">
            <div class="itensSelect">
              <div class="product-name">
                <p>
                  {{ rota.nome}} 
                </p>
              </div>
              <img [src]="rota.img"/>
            </div>
          </div>
          </dx-select-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Qual o seu elo?</div>
        <div class="dx-field-value">
          <dx-select-box
          (onValueChanged)="atualizarImgElo()"
          [searchEnabled]="true"
          placeholder="Escolha seu elo!"
            [items]="elos"
            displayExpr="nome"
            valueExpr="elo"
            [(value)]="matchup.elo"
            >
          <div *dxTemplate="let elo of 'dropDownButton'">
            <img [src]="eloImg"/>
          </div>
          <div *dxTemplate="let elo of 'item'">
            <div class="itensSelect">
              <div class="product-name">
                <p>
                  {{ elo.nome}} 
                </p>
              </div>
              <img [src]="elo.img"/>
            </div>
          </div>
          
          </dx-select-box>
        </div>
      </div>

        <div class="dx-field">
          <div class="dx-field-label"></div>
          <div class="dx-field-value">
            <dx-button
                (onClick)="encontrarMatchup($event)"
                text="Encontrar Matchup!!">
            </dx-button>
          </div>
        </div>
  </div>
</div>